<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Threat Total">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <title>Lastopp</title>
</head>
<body>
<div class="grid place-items-center">
    {{ template "navbar.html" .}}

    <div class = "bg-white">
        <a href="/" class="w-full">
            <img src="../img/TT2.png" class="h-auto">
        </a>
    </div>

    {{ template "mainInput.html" . }}

    <div class="container w-full mt-3 mb-3 pl-2 pr-2 sm:pl-36">
        <form class="flex justify-center place-items-center">
            <label class="block m-4">
                <input type="file" class="block w-full text-3xl text-slate-500
                        file:mr-4 file:py-2 file:px-3
                        file:rounded-full file:border-0
                        file:text-3xl
                        hover:file:bg-blue-500"/>
            </label>
        </form>
    </div>

    <div class = "container w-full mt-1.5 mb-3 sm:pl-36 sm:pr-36 flex justify-center overflow-hidden">
        <a href="/undersok">
            <button class="bg-orange-500 p-2 rounded justify-center">Undersøk</button>
        </a>
    </div>

</div>

</body>
</html>