{{ define "navbarEN.html" }}
<!-- navbar bytte tilbake til engelsk -->
<nav class="container h-auto">
    <div class="grid grid-cols-3 h-auto">
        <div class= "sm:flex sm:place-items-center h-full ml-3">
            <a href="./en">
                <img src="../img/logo.png" class="h-auto mt-1">
            </a>
        </div>
        <div class="bg-white flex col-span-2 sm:col-span-1 sm:justify-center sm:place-items-center h-12 sm:h-full">

        </div>
        <div class="grid col-span-3 sm:col-span-1 sm:flex sm:justify-end place-items-center w-full h-12 sm:h-full sm:pr-3">
            <div>
                &#127760; <a href="./" class="hover:underline" title="Norwegian version"> Norsk </a>
            </div>
        </div>
    </div>
</nav>
{{ end }}