{{ define "navbar.html" }}

<nav class="container h-auto">
    <div class="bg-green-200 grid grid-cols-3 h-auto">
        <div class= "sm:flex sm:place-items-center h-full ml-3">
            <img src="../img/logo.png" class="h-12">
        </div>
        <div class="bg-white flex col-span-2 sm:col-span-1 sm:justify-center sm:place-items-center h-12 sm:h-full">
            <a href="/">
                <button class="bg-blue-600 sm:w-36 p:2 h-full">Threat Total</button>
            </a>
        </div>
        <div class="bg-blue-200 grid col-span-3 sm:col-span-1 sm:flex sm:justify-end place-items-center w-full h-12 sm:h-full sm:pr-3">
            <div>
                &#127760; <a href="index.html#SKIFTTILENGELSKDOMeNE" class="hover:underline" title="English version: URL HERE"> English </a>
            </div>
        </div>
    </div>
</nav>
{{ end }}